.caja1{
    float: left;
    margin-right: 200px;
    margin-left: 120px;
}

.caja1 img{
    height: 300px;
    width: 500px;
}

.caja1 b{
    float: left;
}

.rata{
    font-size: 20px;
    word-spacing: 0.25em;
    letter-spacing: -1px;
}

.rata2{
    font-size: 20px;
    line-height: 20px;
    word-spacing: 0.25em;
    letter-spacing: -1px;

    }

.caja2 img{
    width: 500px;
    height: 300px;
}

.galeria1 img{
    width: 45%;
    height: 300px;
    margin:2.5%;
}

.e1{
    text-align: center;
    font-size: 30px;
    color: red;
}

.galeria2 img{
    width: 45%;
    height: 300px;
    margin:2.5%;
}

.footer1{
    padding-right: 100px;
    float: right;
    font-size: 20px;
    
}

.iconos1{
    float: left;
    width: 30%;
    padding-left: 80px;
    font-size: 20px;
}
.texto22{
    padding-top: 20px;
}

.iconos2{
    padding: 5%;
    font-size: 40px;
    display: block;
    letter-spacing: 25px;
    cursor: pointer;
    padding-left: 80px;
}
.footer{
    display: block;
    position: fixed;

}

.imagen1{
    width: 50px;
    padding-top: 50px;
}

.boton1{
    font-size: 20px;
    height: 40px;
    background-color: red;
    cursor: pointer;
}

.video1{
 width: 50%;
 padding-left: 25%;
}

.container {
    border-radius: 5px;
    background-color: #ff00007c;
    padding: 20px;
  }
  
  .row {
    padding-top: 10px;
  }
  
  .col-5 {
    float: left;
    width: 5%;
    margin-top: 6px;
  }
  .lbl {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  .txtbox {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .alinea-btn{
    margin-left: 5%;
  }
  
  .btn {
    width: 28%;
    padding: 12px;
    cursor: pointer;
  }
  
  .cmbbox {
    width: 27%;
    padding: 12px;
    border: 1px solid #ccc;
  }
  .radiobtn {
    margin-top: 1%;
  }
  
  .una-linea {
    display:inline-block;
  }
      
  .is-invalid {
    border: 1px solid #ff0000a6;
  }
  
  .text-danger {
    display: block;
    margin-left: 5%;
    padding-top: 2px;
    color: #ff0000a6;
  }
  
  .caja{
    margin-left: 5%;
  }

 